/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

:root {
  --main-font: 'Inter', 'Arial', sans-serif;
  --accent-font: 'Press Start 2P', 'Courier New', monospace;
  --font-weight-main: 400;
  --font-weight-title: 700;
  --background-color: #fff;
  --accent-color: #000000;
  --background-image:     
  /* градиент для повторяющихся полос слева направо */
  repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  /* градиент для повторяющихся полос сверху вниз */
  repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  /* градиент для равномерного перехода сверху вниз */
  linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-main);
  background-color: var(--background-color);
  color: var(--accent-color);
  background: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}
